.About-me{
    margin-top: 50px;
    grid-row: page-s/page-e;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: minmax(20px, 150px) [content-s] 1fr [content-e space-s] minmax(10px, 60px) [space-e img-s] 1fr [image-e] minmax(20px, 150px);
    grid-template-rows: [s] 1fr [e];

    &__info{
        grid-column: content-s/content-e;
        grid-row: s/e;

        margin-top: 30px;
        margin-bottom: 30px;

        display: grid;
        justify-content: space-evenly;

        
        color: rgb(94, 94, 94);
        letter-spacing: 1px;
        line-height: 30px;
        text-align: justify;
        text-indent: 40px;
    }

    &__img{
        margin-top: 35px;
        grid-column: img-s/img-e;
        grid-row: s/e;
        justify-self: left;
        width: 80%;
    }
}

@media (max-width:900px){
    .About-me{
        grid-template-columns: 20px [st] 1fr [en] 20px;
        grid-template-rows: [img-s] 300px [im-e info-s] 1fr [info-e];

        &__info{
            grid-column: st/en;
            grid-row: info-s/info-e;
        }

        &__img{
            margin-top: 5px;
            grid-column: st/en;
            grid-row: img-s/img-e;
            height: 300px;
            width: auto;
            object-fit: cover;
            justify-self: center;
        }
    }
}