.footer{
    grid-row: footer-s/footer-e;

    display:grid;
    grid-template-rows: [space1-s] 100px [space1-e navbar-s] 60px [navbar-e copyright-s] 20px [copyright-e];
    grid-template-columns: minmax(10px, 150px) [s] 1fr [e] minmax(10px, 150px);

    &__space{
        grid-row: space1-s/pace1-e;
        grid-column: s/e;
        
        border-bottom: 1px solid rgb(255, 123, 0);
        height: 80px;
    }

    &__navbar{
        grid-row: navbar-s/navbar-e;
        grid-column: s/e;
        display: grid;
        grid-template-rows:[s] 1fr [e];
        align-items: center;
        justify-content: space-evenly;

        &>* {
            grid-row: s/e;
        }

        a:hover{
            cursor: pointer;
        }
    }

    .orange-text {
        color: rgb(255, 123, 0) !important;
    }

    &__copyright{
        margin-top: 30px;
        margin-bottom: 20px;
        grid-row: copyright-s/copyright-e;
        grid-column: s/e;
        font-size: 12px;
        display: grid;
        justify-content: center;
    }
}

@media (max-width:650px){
    .footer{
        grid-template-columns: [s] 1fr [e];

        &__copyright{
            font-size: 8px;
        }
    }
}