body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width:640px){
    body{
        font-size: 14px;
    }
}

@import './layout';
@import './header';
@import './footer';
@import './home';
@import './about-me';
@import './privacy';
@import './service';
@import './opinion';
@import './contact';
@import './form';
@import './login';
@import './bloginfo';
@import './blog';