.opinion{
    grid-row: page-s/page-e;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: minmax(20px, 150px) [content-s] 1fr [content-e] minmax(20px, 150px);
    grid-template-rows: 20px [rating-s] 120px [rating-e opinion-s] 1fr [opinion-e] 30px;

    &__rating{

        grid-row: rating-s/rating-e;
        grid-column: content-s/content-e;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr [number-s] 250px [number-e space-s] 50px [space-e star-s] 180px [star-e] 1fr;

        &__number{
            grid-column: number-s/number-e;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-rows: 30px 30px;
        }

        &__stars{
            grid-column: star-s/star-e;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                color: rgb(255, 123, 0);
            }
        }
    }

    &__opinions{
        grid-row: opinion-s/opinion-e;
        grid-column: content-s/content-e;
        display: grid;
        justify-content: space-evenly;

        &__opinion{
            margin-bottom: 30px;

            &__name{
                color: rgb(255, 123, 0);
                text-decoration: underline;
                font-weight: 600;
                margin-bottom: 15px;
            }

            &__review{
                color: rgb(94, 94, 94);
                letter-spacing: 1px;
                line-height: 30px;
                text-align: justify;
                text-indent: 40px;
            }
        }

    }
}
